body {
    background-image: url(../img/fundo_tech.png);
    opacity: 0.9;
    margin: (1, 0);
}

.topo {
    background-color: rgb(162, 155, 155);
    opacity: 1;
    padding: 20px 20px;
    text-align: center;
}

.h1 {
    font-style: italic;
    font-size: 40px;
}

.h2 {
    color: brown;
    background-color: rgb(162, 155, 155);
    font-style: oblique;
    font-size: 20px;
}

.h3 {
    color: rgb(255, 255, 255);
    background-color: rgb(4, 4, 4);
    background-size: 2%;
    opacity: 1;
    padding: 10px 10px;
    font-style: gotic;
    font-size: 20px;
    text-align: center;
}

.menu a {
    color: white;
    padding: 14px 15px;
    font-size: 15px;
    text-decoration: none;
    text-align: left;
}

.menu {
    background-color: brown;
    width: 100%;
    text-align: left;
}

.projetos {
    background-color: black;
    width: 30%;
    text-align: left;
}

.directlink {
    background-color: aquamarine;
    width: 300px;
    text-align: center;
    padding: 2px;
    font-size: 22px;
    text-decoration: none;
}


.caixa-mensagem {
    background-color: rgb(0, 0, 0);
    background-position: right;
    padding: 50px 40px;
    opacity: 0.9;
    width: 30%;
    text-align: right;
    left: 100px;
}

.info-contato {
    font-size: 25px;
    text-align: right;
    color: aquamarine;
}

.subtitulo {
    background-color: white;
    text-align: center;
    color: brown;
}

.video {
    text-align: center;
}