body {
    background: yellow;
    background-image: url("/img/fundo_tech.png");
    margin: 1, 0;
}

.topo {
    background-color: white;
    padding: 10px 10px;
    text-align: center;
}

h1 {
    color: brown;
    background-color: white;
    font-style: italic;
    font-size: 40px;
}

.menu a {
    color: white;
    padding: 14px 15px;
    font-size: 25px;
    text-decoration: none;
    text-align: right;
}

.menu {
    background-color: brown;
    width: 100%;
    text-align: right;
}

.link a {
    color: black;
    background: yellow;
    padding: 5px 30px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

.caixa-mensagem {
    color: black;
    float: right;
    width: 10px 15px;
    padding: 100px;
}

.info-contato {
    text-align: center;
    color: black;

}