body {
    background-image: url(../img/fundo_tech.png);
    opacity: 0.9;
    margin: (1, 0);
}

.topo {
    background-color: rgba(162, 155, 155, 0.603);
    opacity: 1;
    padding: 1px 20px;
    text-align: center;
}

.h1 {
    font-style: italic;
    font-size: 40px;
}

.h2 {
    color: brown;
    background-color: rgb(162, 155, 155);
    font-style: oblique;
    font-size: 20px;
}

.h3 {
    color: rgb(255, 255, 255);
    background-color: rgb(4, 4, 4);
    background-size: 2%;
    opacity: 1;
    padding: 10px 10px;
    font-style: gotic;
    font-size: 20px;
    text-align: center;
}

.menu a {
    color: white;
    padding: 14px 15px;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
}

.menu {
    background-color: brown;
    width: 100%;
    text-align: center;
}

.projetos {
    background-color: black;
    width: 30%;
    text-align: left;
}

.directlink {
    background-color: aquamarine;
    width: 300px;
    text-align: center;
    padding: 2px;
    font-size: 22px;
    text-decoration: none;
}


.caixa-mensagem {
    background-color: #797977e7;
    border-color: black;
    padding: 70px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 10px;
    width: 20%;
    text-align: center;
    display: block;
    margin:auto;
}

.info-contato {
    font-size: 25px;
    text-align: right;
    color: aquamarine;
}

.subtitulo {
    background-color: white;
    text-align: center;
    color: brown;
}

.video {
    text-align: center;
}

.login-container {
    background-color: #797977e7;
    border-color: black;
    padding: 70px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 20%;
    text-align: center;
    display: block;
    margin:auto;

}

form {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#loginStatus {
    margin-top: 16px;
    color: red;
    font-weight: bold;
}